# Compiled Java class files
*.class

# Package Files
*.jar
*.war
*.ear

# IDE files
.idea/
*.iml
.vscode/
*.classpath
*.project



# Build folders
**/target/

# Generated application files
bloggerapp/
